/* Подключение Montserrat в CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Общие стили */
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    font-size: 20px; /* Увеличиваем размер шрифта */
}

body {
    background-color:#253f53cc;
    opacity: 0.8; /* Пример установки прозрачности */
    background-size: cover; /* Растягиваем изображение на всю область шапки */
    background-position: center; /* Центрируем изображение */
    font-family: 'Montserrat', sans-serif;
}

.new-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Занимает как минимум 100% высоты окна браузера */
    background-image: url('../images/back2.png');
    background-size: cover; /* Растягиваем изображение на всю область фона */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Отключаем повторение изображения */
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
}

/* Стили для формы входа */
.login-form {
    max-width: 400px; /* Максимальная ширина формы */
    background-color: #ffffffb3; /* Прозрачный белый фон */
    padding: 20px; /* Внутренние отступы */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень для формы */
}

/* Стили для формы входа */
.new-login-form {
    margin: 20px;
    background-color: #3f5f78cf;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Добавляем небольшую тень */
    max-width: 570px; /* Максимальная ширина формы */
    padding: 15px; /* Внутренние отступы */
}

/* Стили для текстовых полей и меток */
label {
    display: block; /* Отображаем метки на новой строке */
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px; /* Увеличиваем размер шрифта меток */
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Ширина поля ввода на 100% */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 20px; /* Отступ между полями ввода */
    border: 2px solid #3f5f78; /* Граница поля ввода */
    border-radius: 4px; /* Закругленные углы */
    box-sizing: border-box; /* Учитываем границу в расчете ширины поля */
    font-size: 18px; /* Увеличиваем размер шрифта поля ввода */
}

/* Стили для кнопки отправки */
input[type="submit"] {
    width: 100%; /* Ширина кнопки на 100% */
    padding: 10px; /* Внутренние отступы */
    background-color: #3f5f78; /* Цвет фона кнопки */
    color: #ffffff; /* Цвет текста кнопки */
    cursor: pointer; /* Указатель при наведении на кнопку */
    border: 2px solid #ffffff;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #4e7593;
}

.error-message
{
    font-size: 18px; /* Увеличиваем размер шрифта кнопки */
    color:#14232f;
    margin-bottom: 15px;
}

.swal-custom {
    color:#3f5f78;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    opacity: 0.95;
    align-items: center;
}

.swal-button {
    background-color:#3f5f78;
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 150px;
    height: 50px;
    box-shadow: none;
    border: 2px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
}