/* Подключение Montserrat в CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Общие стили */
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%; /* Делаем высоту страницы минимально 100% */
    display: flex; /* Используем flex для вертикального выравнивания */
    flex-direction: column; /* Располагаем элементы вертикально */
    overflow: hidden; /* Скрываем часть фонового изображения */
    background-image: url('../images/background.jpg');
    opacity: 0.8; /* Пример установки прозрачности */
    background-size: cover; /* Растягиваем изображение на всю область шапки */
    background-position: center; /* Центрируем изображение */
}

.container {
    color: #ffffff; /* Цвет текста серый */
    padding: 20px;
    flex: 1; /* Занимаем все доступное пространство, чтобы подвал прижался к нижней части */
}

.header {
    position: relative; /* Устанавливаем позицию относительно */
    background-color: #3f5f78; /* Цвет фона шапки серый */
    color: #ffffff; /* Цвет текста темно-серый */
    padding: 20px;
    border-radius: 10px; /* Добавляем закругления */
}

.supermenu {
    display: flex;
    justify-content: center; /* Выравниваем элементы по центру */
    position: relative;
}

.menu {
    margin-top: 50px;
    margin-right: 100px; 
    text-align: center; /* Выравниваем текст по центру */
    position: relative;
    display: inline-block;
}

/* Стили для ссылки "Студенту" */
.menu1{
    background-color: #5a3048; /* Цвет фона */
    color: #ffffff; /* Цвет текста белый */
    text-decoration: none; 
    font-size: 25px;
    padding: 10px 20px; /* Добавляем отступы вокруг текста */
    border-radius: 5px; /* Добавляем закругления углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Добавляем небольшую тень */
}

/* Стили для ссылки "Преподавателю" */
.menu2{
    background-color: #3f5f78; /* Цвет фона */
    color: #ffffff; /* Цвет текста белый */
    text-decoration: none; 
    font-size: 25px;
    padding: 10px 20px; /* Добавляем отступы вокруг текста */
    border-radius: 5px; /* Добавляем закругления углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Добавляем небольшую тень */
}

/* Стили для ссылки "Деканату" */
.menu3 {
    background-color: #4c5f31; /* Цвет фона */
    color: #ffffff; /* Цвет текста белый */
    text-decoration: none; 
    font-size: 25px;
    padding: 10px 20px; /* Добавляем отступы вокруг текста */
    border-radius: 5px; /* Добавляем закругления углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Добавляем небольшую тень */
}

#footer {
    background-color: #3f5f78; /* Цвет фона подвала серый */
    color: #ffffff; /* Цвет текста темно-серый */
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Добавляем закругления */
    position: fixed; /* Закрепляем footer внизу страницы */
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Всплывающее содержимое (скрыто по умолчанию) */
.menu-content {
    display: none;
    position: absolute;
    font-size: 20px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px; /* Добавляем закругления */
}
  
/* Ссылки внутри всплывающего списка */
.menu-content a {
    white-space: nowrap; /* Запрет переноса текста */
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px; /* Добавляем закругления */
}

/* Изменение цвета всплывающих ссылок при наведении курсора */
.menu-content a:hover {
    background-color: #c2c2c2;
    color:#4b4949;
}

/* Показывать всплывающее меню при наведении курсора */
.menu:hover .menu-content { display: block; }

/* Добавляем цвет фона для каждого всплывающего окна */
.menu1 + .menu-content {
    background-color: #7b4162;
}

.menu2 + .menu-content {
    background-color: #4e7796;
}

.menu3 + .menu-content {
    background-color: #698344;
}

.sub-menu {
    position: relative;
}

.sub-menu-content {
    background-color: #698344;
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* чтобы подменю появлялось справа */
    border-radius: 10px; /* Добавляем закругления */
}

.sub-menu:hover .sub-menu-content {
    display: block;
}